.error {
    h1 {
        font-size: 18rem;
        font-weight: 700;
        margin: 175px 0;
        color: rgba(0, 188, 119, 1);
    }

    p {
        color: rgba(0, 188, 119, 1);
        ;
        font-size: 2.25rem;
        margin: 155px 0;
        font-weight: 500;
    }

    .error-link {
        font-size: 1.125rem;
        font-weight: 500;
        margin-bottom: 150px;
        text-decoration: underline;
    }
}